server {
    listen 80;
    server_name {{ registry_domain }};

    location /.well-known/acme-challenge/ {
        root /var/lib/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}